/* THIS IS THE ABOUT ME SECTION OF THE PORTFOLIO */
.aboutPage {
    width: 80%;
    margin: auto;
}

/* INTRO OF THE PAGE */
.pageIntro {
    margin: 15% auto;
    padding: auto;
 
}

.introName {
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 400;
    animation: fadeInDown 1s ease-out forwards;
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Name {
    font-weight: 700;
    font-size: 2.5em;
    animation: slideInLeft 1.5s ease-out forwards;
}

.Slogan {
    font-weight: 700;
    font-size: 2em;
    animation: slideInLeft 2s ease-out forwards;
    line-height: 10px;
    color: rgb(from var(--main-text-color) r g b / 75%);
    font-family: "SUSE", sans-serif;
}

.intro {
    animation: slideInLeft 2.2s ease-out forwards;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    color: rgb(from var(--main-text-color) r g b / 75%);
}

.intro p {
    margin: 1%;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.getintouchButton button {
    margin: 1rem;
    padding: 0.6rem 1.2rem;
    background: transparent;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 0.8rem;
    border-width: 0.1px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.4s, color 0.4s, transform 1s;
    /* Add transitions for smooth animation */
}

.getintouchButton button:hover {
    transform: scale(1.1);
    /* Add a slight scale effect on hover */
    background-color: rgb(from var(--main-color) r g b / 95%);
    /* Change background color on hover */
    color: rgb(from var(--secondary-color) r g b / 90%);
    /* Change text color on hover */
    outline-color: var(--secondary-color);
    /* Change outline color on hover */
}


/* ABOUT CONTENT SECTION WHICH SUMMARISES ABOUT ME */

.aboutContent {
    margin: 15% 0 0 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.title {
    padding-right: 1px;
}

.text {
    width: 65%;
    color: rgb(from var(--main-text-color) r g b / 80%);
}

.list ol {
    display: flex;
    justify-content: space-between;
    color: rgb(from var(--secondary-color) r g b / 99%);
}

li {
    padding: 0.4rem;
}

.image {
    width: 30%;
    height: 60%;
}

.portfolioImage {
    width: 100%;
    border-radius: 1rem;
}

/* EXPERIENCE SECTION */
.ExperienceSection {
    width: 80%;
    margin: auto;
    position: relative;
    left: 10%;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
}

.experience {
    padding-bottom: 15px;
}

.experience h3 {
    color: rgb(from var(--secondary-color) r g b / 90%);
    margin-left: 4%;
}

.experience h4 {
    color: rgb(from var(--secondary-color) r g b / 82%);
    margin-left: 4%;
}


/* SKILLS SECTION */

.skillsSection {
    width: 75%;
    margin: auto;
    padding: 4rem 1rem;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
}

.skills {
    display: flex;
    margin: auto;
}

.div {
    display: flex;
}

.skillItem {
    padding: 1.5rem;
    text-align: center;
}

.skillIcon {
    color: rgb(from var(--secondary-color) r g b / 90%);
    font-size: 2.2rem;
}

.skill {
    color: rgb(from var(--main-text-color) r g b / 80%);
}

/* PROJECT SECTION */

.projectSection {
    width: 80%;
    left: 10%;
    position: relative;
    margin: auto;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    height: max-content;
}

.project {
    padding: 2rem 0;
}

.projectDetails {
    display: flex;
}

.projectName {
    padding: 0 1.5rem 0 5rem;
    color: rgb(from var(--secondary-color) r g b / 80%);
    font-size: 1.3rem;
}

.projectContent {
    height: max-content;
    padding: 1rem 0;
    width: 40%;
    color: rgb(from var(--main-text-color) r g b / 80%);
    height: 100%;
    line-height: 2rem;
}

.project2 .projectContent {
    padding-left: 0;
}

.projectContent a {
    color: rgb(from var(--secondary-color) r g b / 70%);
}

.projectImage {
    width: 50%;
}

.projectImage img {
    width: 500px;
    height: 250px;
    margin: auto 1rem;
}

.iconParagraph {
    color: rgb(from var(--secondary-color) r g b / 80%);
}

.pIcon {
    font-size: 1.3rem;
    padding: 0 0.3rem;
    transition: background-color 0.4s, color 0.4s, transform 1s;
}

.pIcon:hover {
    font-size: 1.4rem;
    cursor: pointer;
    color: rgb(from var(--secondary-color) r g b / 95%);

}

/* CONTACTS SECTION */
.contactsSection {
    width: 50%;
    margin: auto;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    color: rgb(from var(--main-text-color) r g b / 80%);
    height: 100%;
    line-height: 2rem;
    padding: 7rem;
}

.contactMe {
    color: rgb(from var(--secondary-color) r g b / 90%);
    font-weight: 400;
}

.mailButton {
    padding: 1.5rem;
    background: transparent;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 0.8rem;
    border-width: 0.5px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.5s;
    /* Add transitions for smooth animation */
    font-weight: 500;
}

.mailButton:hover {
    background-color: var(--secondary-color);
    /* Change background color on hover */
    color: var(--main-color);
    /* Change text color on hover */
    transform: scale(1.02);
    /* Add a slight scale effect on hover */
    outline-color: var(--secondary-color);
    /* Change outline color on hover */
}


/* LARGE SCREEN RESPONSIVENESS */
@media only screen and (min-width:1900px) {

    /* buttons */
    .getintouchButton button,
    .mailButton {
        height: 100px;
        width: 300px;
        margin: 1rem;
        padding: 0.6rem 1.2rem;
        border-width: 3px;
        font-weight: 700;
        font-size: 2rem;
    }

    /* icons */
    .skillIcon {
        font-size: 4rem;
        padding: 0 2rem;
    }

    .pIcon {
        font-size: 3rem;
        padding: 0 1rem;
    }

    .projectName {
        padding: 0 2rem 0 7rem;
        font-size: 3rem;
    }

    .projectContent {
        height: max-content;
        padding: 2rem 1rem 2rem 0;
        width: 60%;
        height: 100%;
        line-height: 50px;
    }

    .projectImage img {
        width: 700px;
        height: 300px;
        margin-top: 6rem
    }

    .contactsSection {
        line-height: 50px;
    }
}

/* LAPTOP RESPONSIVENESS */

@media only screen and (max-width:1160px) {
    .projectName {
        margin-left: 20%;
    }

    .projectImage {
        width: 100%;
        margin-left: 10%;
        padding: auto;
    }

    .projectContent {
        width: 80%;
    }

    .project1 .projectDetails {
        display: flex;
        flex-direction: column-reverse;
    }

    .project2 .projectDetails {
        display: flex;
        flex-direction: column;
    }

    .docImage {
        display: flex;
    }
}


/* TABLET/IPOD RESPONSIVENESS */

@media only screen and (max-width:901px) {
    /* page intro */

    /* ABOUT SECTION */
    .aboutPage {
        width: 90%;
        margin: auto;
    }

    /* INTRO OF THE PAGE */
    .pageIntro {
        margin: 10%;
    }

    .introName {
        font-size: 1em;
        font-weight: 300;
    }


    .Name {
        font-weight: 700;
        font-size: 2em;
    }

    .Slogan {
        font-weight: 600;
        font-size: 1.3em;
    }

    .intro p {
        margin: 1%;
        line-height: 25px;
    }

    .getintouchButton button {
        margin: 0.5rem;
        /* padding: 0.6rem 1.2rem;
    border-radius: 0.8rem;
    font-weight: 600; */
    }

    /* aboutme */
    .aboutContent {
        margin-left: 20%;
        width: 100%;
    }

    .image {
        margin-left: 15%;
    }

    .content {
        flex-direction: column-reverse;
    }

    /* experience section */
    .ExperienceSection {
        margin-left: 20%;
    }

    /* project section */

    .projectImage {
        margin-left: 0;
    }

    /* Skills section */

    .skillsSection {
        margin-left: 20%;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .div {
        width: 100%;
        justify-content: space-between;
    }

    .skillIcon {
        font-size: 3rem;
    }

    /* contact section */
    .mailButton {
        border-width: 0.8px;
    }
}


/* PHONE RESPONSIVENESS */
@media only screen and (max-width:675px) {
    .Slogan {
        font-weight: 600;
        font-size: 1.2em;
    }

    .intro p {
        font-size: 1rem;
    }

    .projectImage img{
        width: 450px !important;
        margin: 0;
    }

    .skillIcon{
        font-size: 1.9rem;
    }

}

@media only screen and (max-width:600px) {
    .Slogan {
        font-weight: 600;
        font-size: 1em;
    }
    .aboutContent {
        margin-left: 15%;
        width: 100%;
    }

    .list ol{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* experience section */
    .ExperienceSection {
        margin-left: 5%;
        width: 100%;
    }

    /* project section */

    .projectContent{
        width: 90%;
    }

    .projectSection{
        margin-left: 0;
        width: 100%;
    }

    /* Skills section */

    .skillsSection {
        margin-left: 0;padding: 2%;
        width: 100%;

    }

    .skillIcon{
        font-size: 1.6rem;
    }

    .projectName{
        padding: 0 1rem 0 3rem;
        font-size: 1.2rem;
    }
    
    .projectImage img{
        width: 350px !important;
        height: 200px;
        margin: 0;
    }

    .titleLine{
        width: 200px !important;
    }

    .skillsSection .title{
        margin-left: 13%;
    }

    .projectSection .title{
        margin-left: 5%;
    }

}

@media only screen and (max-width:480px) {
    .intro p{
        font-size: 0.8rem;
    }
    .Name {
        font-weight: 700;
        font-size: 1.5em;
    }

    .Slogan {
        font-weight: 550;
        font-size: 1.05em;
        line-height: 20px;
    }

    .projectImage img{
        width: 300px !important;
        height: 200px;
        margin: 0 auto;
    }

    .experience h3{
        font-size: 0.9rem;
    }

    .skillItem{
        padding: 0.8rem;
    }

    .experience h4{
        font-size: 0.8rem;
    }

    .projectName{
        padding: 0 1rem 0 0rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:440px) {

    .projectImage img{
        width: 200px !important;
        height: 150px;
        margin: 0;
    }

    .Name {
        font-weight: 700;
        font-size: 1.4em;
    }

    .Slogan {
        font-weight: 700;
        font-size: 1.02em;
    }
    .titleLine{
        width: 200px !important;
    }

}

@media only screen and (max-width:350px) {
    .Name {
        font-weight: 600;
        font-size: 1.3em;
    }

    .Slogan {
        font-weight: 590;
        font-size: 0.8em;
    }

    .intro p {
        font-size: 0.7rem;
    }
    
    .projectImage img{
        width: 250px !important;
        height: 200px;
        margin: 0;
    }

    .titleLine{
        width: 150px !important;
    }
}